<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="ru.olenevody"/>
    <mvc:annotation-driven/>

    <bean id="properties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:dozor.properties</value>
                <value>classpath:telegram.properties</value>
            </list>
        </property>
    </bean>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:dozor.properties</value>
                <value>classpath:telegram.properties</value>
            </list>
        </property>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>

    <!-- PROXY CONTROLLER -->
    <bean id="proxySettings" class="ru.olenevody.controller.ProxySettings">
        <constructor-arg value="${telegram.proxy.use}"/>
        <constructor-arg value="${telegram.proxy.server}"/>
        <constructor-arg value="${telegram.proxy.port}"/>
    </bean>

    <!-- OBJECT MAPPER-->
    <bean id="mapper" class="ru.bulavka.Bots.util.TelegramObjectMapper"/>

    <!-- TELEGRAM MESSENGER -->
    <bean id="messender" class="ru.bulavka.Bots.messenger.SimpleTelegramMessenger">
        <constructor-arg value="${telegram.token}"/>
    </bean>

    <!-- TELEGRAM LISTENER -->
    <bean id="listener" class="ru.bulavka.Bots.listener.SimpleTelegramListener" depends-on="proxySettings">
        <constructor-arg value="${telegram.token}"/>
        <constructor-arg ref="mapper"/>
    </bean>

    <!-- DOZOR GAMES SERVICE -->
    <bean id="gamesService" class="ru.olenevody.service.GamesService"/>

    <!-- MESSENGER SERVICE -->
    <bean id="messengerService" class="ru.bulavka.Bots.service.MessengerService">
        <constructor-arg>
            <map key-type="java.lang.String" value-type="ru.bulavka.Bots.messenger.Messenger">
                <entry key="${telegram.token}" value-ref="messender"/>
            </map>
        </constructor-arg>
    </bean>

    <!-- DOZOR UPDATE HANDLER -->
    <bean id="dozorUpdateHandler" class="ru.olenevody.updateHandler.DozorUpdateHandler">
        <constructor-arg ref="gamesService"/>
    </bean>

    <!-- TELEGRAM BOT -->
    <bean id="bot" class="ru.bulavka.Bots.bot.Bot">
        <constructor-arg index="0" value="${telegram.name}"/>
        <constructor-arg index="1" value="${telegram.token}"/>
        <constructor-arg index="2">
            <list>
                <ref bean="listener"/>
            </list>
        </constructor-arg>
        <constructor-arg index="3">
            <list>
                <ref bean="dozorUpdateHandler"/>
            </list>
        </constructor-arg>
    </bean>

    <!-- BOT SERVICE -->
    <bean id="botsService" class="ru.bulavka.Bots.service.BotsService" init-method="startBots">
        <constructor-arg>
            <list>
                <ref bean="bot"/>
            </list>
        </constructor-arg>
    </bean>

    <!-- DOZOR LISTENER-->
    <bean id="DozorListener" class="ru.olenevody.listener.EngineDozorListener" />

</beans>